<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>catalogo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-card *ngFor="let producto of productos">
      <ion-card-header>
        <ion-card-title>{{ producto.name }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <!-- Mostrar la imagen del producto -->
        <ion-img [src]="producto.imagenUrl" alt="Imagen de {{ producto.name }}" class="product-image"></ion-img>
        <p>{{ producto.descripcion }}</p>
        <p>{{ producto.gramaje }} grs.</p>
        
        
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>
 <!-- Lista de productos con opciones para modificar y eliminar -->
 
 <!-- Botón para volver al menú principal -->
 <ion-row>
  <ion-col>
    <ion-button expand="full" color="secondary" (click)="VolverMenuPrinc()">Volver al Menú Principal</ion-button>
  </ion-col>
</ion-row>