<ion-header>
  <ion-toolbar>
    <ion-title>Catálogo de Productos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Lista de productos -->
  <ion-list>
    <ion-card *ngFor="let producto of productos">
      <ion-card-header>
        <ion-card-title>{{ producto.name }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <!-- Mostrar la imagen del producto -->
        <ion-img [src]="producto.imagenUrl" alt="Imagen de {{ producto.name }}" class="product-image"></ion-img>
        <p>{{ producto.descripcion }}</p>
        <p>{{ producto.gramaje }} grs.</p>
        <p>$ {{ producto.precio }}</p>
      </ion-card-content>
    </ion-card>
  </ion-list>

  <!-- Botón para volver al menú principal -->
  <ion-row>
    <ion-col>
      <ion-button expand="full" color="secondary" (click)="VolverMenuPrinc()">Volver al Menú Principal</ion-button>
    </ion-col>
  </ion-row>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-row>
      <ion-col>
        <h6 class="ion-text-center">
          © 2024 ComidApp. All rights reserved.
        </h6>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>
