<ion-header>
  <ion-toolbar>
    <ion-title>Carrito de Compras</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let producto of carrito">
      <ion-label>
        <h2>{{ producto.name }}</h2>
        <p>{{ producto.cantidad }} x ${{ producto.precio }}</p>
      </ion-label>
      <ion-button color="danger" (click)="eliminarDelCarrito(producto)">Eliminar</ion-button>
    </ion-item>
  </ion-list>

  <ion-footer>
    <ion-toolbar>
      <ion-title>Total: ${{ total }}</ion-title>
    </ion-toolbar>
  </ion-footer>

  <ion-button expand="full" color="primary" (click)="volverAlCatalogo()">Volver al Catálogo</ion-button>
</ion-content>