<ion-content [fullscreen]="true">


  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <!--ion card-->
        <ion-card>
          <div class="ion-text-center">
            <img alt="logoComidapp" src="../../assets/comidappLogo.jpg" width="200"/>
          </div>

          <ion-card-header>
            <ion-card-title class="ion-text-center">
              Bienvenido
            </ion-card-title>
            <ion-card-subtitle>
              Ingresa tus datos para iniciar sesion
            </ion-card-subtitle>
          </ion-card-header>
  
          <ion-card-content>
            <ion-item>
              <ion-input type="email" placeholder="Ingresa tu email" [(ngModel)]="gEmail">
              </ion-input>
            </ion-item>
          
            <ion-item>
              <ion-input type="password" placeholder="Ingresa tu password"
              [(ngModel)]="gPassword">
              </ion-input>
            </ion-item>
          
            <ion-button expand="full" (click)="loginUser()">Login</ion-button>
            <ion-row>
              <ion-col><div class="register">Register</div></ion-col>
              <ion-col> <div class="forgetpass">Olvidaste la password?</div></ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  






 
  
 

  
    


</ion-content>
