<ion-header>
  <ion-toolbar>
    <ion-title>Menu</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <h1>Selecciona una opcion</h1>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button expand="block" (click)="irPagina2()">Crud de Productos</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button expand="block">Opcion 2</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button expand="block">Opcion 3</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>


<ion-footer>
  <ion-toolbar>
    <ion-title>Comidapp</ion-title>
  </ion-toolbar>
</ion-footer>